/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 0px;
  padding-bottom: 40px;
  color: #ffffff;
  background-color:#000000;
  
}

    
.top {
color:#ffffff;
background-color:#000000;
font-size:25px;
font-family: 'Oswald', cursive;",Georgia,Serif;
overflow:hidden;
} 
 

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 535px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 535px;
  background-color: #000000;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 535px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-12 {
  margin-bottom: 20px;
  text-align: center;
  background-color:#000000;
 color:#00ff00;
}
      
      
 .marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  background-color:#000000;
  color:#00ff00;
}     
      
      
      
      
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-12 p {
  margin-right: 10px;
  margin-left: 10px;
}
      
     
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
 
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


      
      
.facts {
color:#000000;
background-color:#7bd962;
font-size:30px;
font-family: 'Oswald', cursive;",Georgia,Serif;
overflow:hidden;
} 
      

      .late {
text-align:left;
color:#FFFFFF;
font-size:40px;
font-family: 'Oswald', cursive;",Georgia,Serif;
height:420px;        
}      
      

 .bigreg {
color:#ed6c1c;
font-size:20px;
font-family: 'Oswald', cursive;
   
}     
      
 .btn-xlarge {
    padding: 18px 28px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    }  
      
  .sole {
color:#00ff00;
background-color:#000000;
font-size:25px;
font-family: 'Oswald', cursive;",Georgia,Serif;
overflow:hidden;
} 
      
 .sole img { opacity:0.2; filter:alpha(opacity=20); /* For IE8 and earlier */ }
 .sole img:hover { opacity:1.0; filter:alpha(opacity=100); /* For IE8 and earlier */ }
      
      
  .social {
color:#ffffff;
background-color:#000000;
font-size:25px;
font-family: 'Oswald', cursive;",Georgia,Serif;
margin-top: 20px;
overflow:hidden;
} 
      
      
  .lower {
color:#ffffff;
background-color:#000000;
font-size:15px;
font-family: 'Oswald', cursive;",Georgia,Serif;
margin-top: 20px;
overflow:hidden;
}   

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  
  
  .navbar-nav {
margin: 0 auto;
display: table;
table-layout: fixed;
float: none;
}

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
       
